<!DOCTYPE html>
<html lang="en">

<head>
    <title>ABOBA-новость</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/static/images/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/scream.jpg">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/aboba.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/slick-theme.css">
</head>

<body>
    {% include 'nav-bar.html' %}
    <main style="height: 60vh">
        <div class="container mt-3 pb-5">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h3>{{news.title}}</h3>
                        <p>{{news.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
      {% include 'FOOTER.html' %}
    </footer>
</body>

</html>